body{
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
}
.topnav{
    background-color: #2a4d69;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

#home{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 10px;
    background-color: rgb(237,238,237);
    height: 250px;
    width: 1080px;
    margin: 0 auto;
}

#home h1{
    grid-column: 1/2;
    margin: 0 auto;
    padding-top: 65px;
    font-size: 3.5em;
}
#home h2{
    grid-column: 3/4;
    margin: 0 auto;
    font-size: 2.5em;
    padding-top: 65px;
}
#home img{
    border: 1px solid black;
    border-radius: 50%;
    grid-column: 2/3;
    margin: 0 auto;
}

#home p{
    grid-column: 2/3;
    margin: 0 auto;
    text-align: center;
    padding-top: 1em;
}

#about{
    background-color: rosybrown;
    margin: 0 auto;
    text-align: center;
    width: 1080px;
}

#about h1{ 
    margin: 0;
    padding: 250px 0px;
}
#contact{
    margin: 0 auto;
    background-color: seagreen;
    width: 1080px;
}
#contact h1{ 
    margin: 0;
    padding: 50px 0px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

 .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }